/.dockerignore
/.idea
/docker/db/data/
/docker/logs/apache/
/docker/logs/php/

/_ide_helper.php

###> squizlabs/php_codesniffer ###
/app/.phpcs-cache
/app/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/app/.php-cs-fixer.php
/app/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/app/.editorconfig
/app/vendor/


